<nav>
    <div class="derecha">
        <button class="dashboard">Dashboard</button>
        <select name="UI Elements">
            <option value="Elements">UI Elements</option>
        </select>
        <select name="Form Elements">
            <option value="Elements">Form Elements</option>
        </select>
        <select name="Charts">
            <option value="Charts">Charts</option>
        </select>
        <select name="Tables">
            <option name="Elements">Tables</option>
        </select>
        <select name="Icons">
            <option name="Elements">Icons</option>
        </select>
        <select name="User Pages">
            <option name="Elements">User Pages</option>
        </select>
        <select name="User Pages">
            <option name="Elements">Error Pages</option>
        </select>
        <button class="documentation">Documentation</button>

    </div>
    <div class="contenido">
        <h3>Welcome Aamir</h3>
        <h4>All system are running smoothly! yo have 3 unread alerts!</h4>

        <div class="grilla1">
            <div class="clima">
                <img src="https://static.apksmods.com/images/en/com.graph.weather.forecast.channel/icon.png" alt="" height="250px">
            </div>
            <div class="conteos">
                <img src="https://www.fao.org/3/y4137s/y4137s0a.jpg" alt="" height="250px">
            </div>
        </div>
        <div class="grilla2">
            <div class="estadisticas">
                <img src="https://help.apple.com/assets/5EFDEEB1680CE2A512819D40/5EFDEEC6680CE2A512819D76/es_ES/b5a0fb48866a87f98afd588963b5b557.png" alt="" height="250px">
            </div>
            <div class="diagramas">
                <img src="https://www.researchgate.net/profile/Ricardo-Cedeno-7/publication/40824751/figure/fig1/AS:669452555259907@1536621335444/Figura1-Porcentaje-de-Bacterias-Gram-y-Gram-para-las-muestras-de-agua-y-suelo-en-cada.png" alt="" height="250px">
            </div>
        </div>
    </div>
</nav>
