<nav>
    <div class="horizontal">
        <img src="https://upload.wikimedia.org/wikipedia/commons/e/e1/Logo_of_YouTube_%282015-2017%29.svg" alt="" height="35px">
    </div>
    <select name="=">
        <option name="Elements">=</option>
    </select>
    <div class="container">
        <input type="text" id="search" placeholder="Search" />
        <div class="button">
            <i class="fa fa-search"></i>
        </div>
    </div>
    <div class="esquina">
        <div class="imagen">
            <img src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553_960_720.png" alt="" width= "45px" height= "45px">
        </div>
        <div>
            <button>...</button>
        </div>
    </div>
    
<nav>
